<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zero_day_shield_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
				<key>dateExpires</key>
				<string>7/4/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F581C963FD39D46227C8F22F28FDFDA7E48CC678</string>
						<key>dateExpires</key>
						<string>7/4/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YS5N9UXLPG</string>
						<key>name</key>
						<string>Anand Krishnamurthy</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YS5N9UXLPG.com.anianand.zeroDayShieldApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YS5N9UXLPG</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YS5N9UXLPG.com.anianand.zeroDayShieldApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9f3d2d68-078a-431c-a7ad-de9852710b8c</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.anianand.zeroDayShieldApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YS5N9UXLPG</string>
				<key>name</key>
				<string>Anand Krishnamurthy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
